body{
	text-align: center;
	padding: 2%;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
	color: white;
}

.languageChoice{
	text-align: end;
}

.languageSelect{
	width: 12%;
    padding: 5px;
    margin-left: 2%;
}